<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="architecture art portfolio professional cv">
    <meta name="author" content="Javier Aparicio Conesa">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <title>Agniezka Wiewiorowska</title>

    <!-- CSS Libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSS App files-->
    <link rel="stylesheet" href="css/app.css">


  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Agnieszka Wiewiorowska</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav nav-pills navbar-bottom">
            <li role="presentation" class="active"><a href="#"><h6>All</h6></a></li>
            <li><a href="#"><h6>Architecture</h6></a></li>
            <li><a href="#"><h6>Art</h6></a></li>
            <li><a id="aboutMeOpt" href="#aboutMe" data-toggle="collapse"><h6>About Me</h6></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

    <!-- <div class="container"> -->

      <div class="container">
        <div id="aboutMe" class="page-header collapse">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 py-4">
                  <h4 class="text-white">About Me</h4>
                  <h5 class="text-muted">Description khfhroighforehgoirehgohorehgoirehiogh.</h5>
                </div>
                <div class="col-sm-4 py-4">
                  <h4 class="text-white">Contact Details</h4>
                  <ul class="list-unstyled">
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/awiewiorowska/" class="text-white">https://www.linkedin.com/in/awiewiorowska</a></li>
                    <li>Email: <a href="mailto:a.wiewiorowska@gmail.com" class="text-white">a.wiewiorowska@gmail.com</a></li>
                    <li>Telephone: +353 xxx xx xx</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div id="lightbox" class="lightbox hidden" onclick='$("#lightbox").toggleClass("hidden");'>
          <div class="thumbnail">
            <img id="lbImg" class="img-responsive img-thumbnail" src="https://dummyimage.com/500x500/f00/fff">
            <div class="caption">
              <h3 id="lbTitle" class="text-white">Title</h3>
              <h5 id="lbDescription" class="text-white">Description</h5>
            </div>
          </div>
        </div>
      </div>
