<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="architecture art portfolio professional cv">
    <meta name="author" content="Javier Aparicio Conesa">
    <link rel="icon" href="img/favicon.ico">
    <title>Agniezka Wiewiorowska</title>

    <!-- CSS Libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSS App files-->
    <link rel="stylesheet" href="css/app.css">


  </head>
  <body>

    <!-- <div class="container"> -->


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Agnieszka Wiewiorowska</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav nav-pills nav-fill navbar-bottom">
            <li role="presentation" class="active" onclick="navSelectOption(1);"><a href="#"><h6>All</h6></a></li>
            <li role="presentation" class="" onclick="navSelectOption(2);"><a href="#"><h6>Architecture</h6></a></li>
            <li role="presentation" class="" onclick="navSelectOption(3);"><a href="#"><h6>Art</h6></a></li>
            <li role="presentation" class="" onclick="navSelectOption(4);"><a id="aboutMeOpt" href="#aboutMe" data-toggle="collapse"><h6>About Me</h6></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>


      <div class="container">
        <div id="aboutMe" class="collapse">
            <div class="container">

                <div class="col-sx-12 col-sm-12 col-med-6 col-sm-8">
                  <h4 class="text-white">About Me</h4>
                    <blockquote class="blockquote-reverse">
                      <p style="font-style:italic;">I'm a great architect and artist, so... Hire me bitch!</p>
                      <footer>Someone famous</footer>
                    </blockquote>
                </div>

                <div class="col-sx-12 col-sm-12 col-med-6 col-sm-4">
                  <h4 class="text-white">Contact Details</h4>
                  <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/awiewiorowska/" class="text-white"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/awiewiorowska</a></li>
                    <li><a href="mailto:a.wiewiorowska@gmail.com" class="text-white"><i class="fa fa-envelope-square" aria-hidden="true"></i> a.wiewiorowska@gmail.com</a></li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> +353 xxx xx xx</li>
                  </ul>
                </div>

            </div>
        </div>
      </div>

    </nav>






      <div id="lightbox" class="lightbox" onclick='hideLightBox();'>

          <div class="row">

            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>

            <div class="col-center col-xs-12 col-sm-12 col-md-8 col-lg-6">
                  <img id="lbImg" class="img-responsive img-rounded" src="https://dummyimage.com/640x640/000/fff">

                  <!-- Left and right controls -->
                  <a class="left carousel-control hidden" href="#" data-slide="prev" onclick="prevImg(event);">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control hidden" href="#" data-slide="next" onclick="nextImg(event);">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 caption">
              <h3 id="lbTitle" class="text-white">Title</h3>
              <h5 id="lbDescription" class="text-white">Description</h5>
            </div>

          </div>

      </div>
