body {
  background-color: white;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-fixed-top {
  position: relative;
  background-color: white;
  border-color: black;
}


.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #777;
  text-shadow: 1px 1px 0.5px #e7e7e7;
  text-decoration: underline;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  /*border-color: #e7e7e7;*/
  border-color: black;
}

.card > img {
  align-items: center;
  align-self: center;
  align-content: center;
  left: auto;
  right: auto;
  float: none;
  border: 1px;
}



.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-style: italic;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  display: block;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  text-align: center;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
