.card-text {
  font-size: 0.85em;
  text-align: center;
}

.card-greyed {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}




#navbar {
  /*color: black;*/
  border: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(60, 60, 60, 1);
}

a:focus, a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-inverse {
  background-color: rgba(60, 60, 60, 1);
  border-color: rgba(60, 60, 60, 1);
}

.navbar-brand {
  font-size: 1.75em;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#navbar > ul > li  > a {
    color: white;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #9b2f74;
}


#aboutMe > div {
  padding-top:60px;
}



.lightbox {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:50px;
  top:0;
  left:0;
  width: 100%;
  align-content: center;

  /*background: rgba(255, 255, 255, 0.8);*/
  background: rgba(60, 60, 60, 1);

  overflow:hidden;
  display: block;
  opacity: 0;
  height: 0px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


#lbImg {
  width:auto;
  height:auto;
}

#lightbox > div {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  background: rgba(60, 60, 60, 1);
  border: none;
}


.lbAnimate {
  opacity: 1;
  /*height: auto;*/
  height: 100vh;
  align-items: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


#lbTitle {
  color: white;
  font-size: 1em;
}

#lbDescription {
  color: white;
  font-size: 0.75em;
  font-style: italic;
}
